Sign In
<form action="<%= session_url %>" method="post">

	Username
	<input type="text" id="Username" name="user[username]" value="">
	Password
	<input type="password" id="Password" name="user[password]" value="">

	<input type="hidden" name="form_authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="Sign In">

</form>