Edit Link
<% if logged_in? %>
	<%= button_to "Sign Out", session_url, :method => :delete %>
	<%= link_to "New Link", new_link_url, :method => :get %>
<% else %>
	<%= button_to "Sign In", new_session_url, :method => :get %>
<% end %>

<form action="<%= link_url(@link) %>" method="post">
	Title
	<input type="text" id="Title" name="link[title]" value="<%= @link.title %>">
	URL
	<input type="text" id="URL" name="link[url]" value="<%= @link.url %>">

	<input type="hidden" name="form_authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="PUT">
	<input type="submit" value="Update Link">
</form>