
<% if logged_in? %>
	<%= button_to "Sign Out", session_url, :method => :delete %>
	<%= link_to "New Link", new_link_url, :method => :get %>
<% else %>
	<%= button_to "Sign In", new_session_url, :method => :get %>
<% end %>

<% @users.each do |user| %>
	<%= user.username %>
<% end %>

<% @links.each do |link| %>
	<%= "#{link.title} #{link.url}" %>
	<%= link_to "#{link.title}", link_url(link) %>
	<%= link.url %>
<% end %>
