

<% if logged_in? %>
	<%= button_to "Sign Out", session_url, :method => :delete %>
	<%= link_to "New Link", new_link_url, :method => :get %>
	<%= self.current_user.username %>
<% else %>
	<%= button_to "Sign In", new_session_url, :method => :get %>
<% end %>

<%= link_to "Links", links_url, :method => :get %>
<%= @link.title %>
<%= @link.url %>
<%= link_to "Edit Link", edit_link_url(@link), :method => :get %>

<% @link.comments.each do |comment| %>
	<%= comment.body %>
	<form action="<%= link_comment_url(comment.id)%>" method="post">
		<input type="hidden" name="form_authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Remove Comment">
	</form>
<% end %>

Add Comment
<form action="/comments" method="post">
	<input type="text" name="comment[body]" id="Comment">
	<input type="hidden" name="form_authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
	<input type="submit" value="Add Comment">
</form>