<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<%= error %>
		<% end %>
	<% end %>

	

<%= yield %>

</body>
</html>
